doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 1
    link(rel='stylesheet', href='./css/d-01.css')
  body
    h1 Drill 1

    #question
      input#number1(type=text)
      span +
      input#number2(type=text)
      button#getAnswer =
    #answer

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-01.js')
