doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 2
    link(rel='stylesheet', href='./css/d-02.css')
  body
    h1 Drill 2

    #input
      input#textString
      button#process Uppercase / Lowercase
    #output

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-02.js')
