doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 4
    link(rel='stylesheet', href='./css/d-04.css')
  body
    h1 Drill 4

    #input
      input#textString
      button#process x<sup>y</sup>
    #output

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-04.js')
