doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 5
    link(rel='stylesheet', href='./css/d-05.css')
  body
    h1 Drill 5

    #input
      input#textString
      button#process Even Squares
    #output

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-05.js')
