doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 6
    link(rel='stylesheet', href='./css/d-06.css')
  body
    h1 Drill 6

    #input
      input#textString
      button#process Last 3
    #output

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-06.js')
