doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 7
    link(rel='stylesheet', href='./css/d-07.css')
  body
    h1 Drill 7

    #input
      input#textString
      button#process Make Sum
  
    #output

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-07.js')
