doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 8
    link(rel='stylesheet', href='./css/d-08.css')
  body
    h1 Drill 8

    #toggledButton Toggle Me

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-08.js')
