doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 9
    link(rel='stylesheet', href='./css/d-09.css')
  body
    h1 Drill 9

    #randomizedButton Randomize Color

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-09.js')
