doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 10
    link(rel='stylesheet', href='./css/d-10.css')
  body
    h1 Drill 10

    #container
      #clock 0
      button#startButton Start
      button#stopButton Stop

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-10.js')
