doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 11
    link(rel='stylesheet', href='./css/d-11.css')
  body
    h1 Drill 11

    #bigDiv 
      #smallDiv

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-11.js')
