doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 12
    link(rel='stylesheet', href='./css/d-12.css')
  body
    h1 Drill 12

    #input
      input#textString
      button#process Go!
    #output

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-12.js')
