doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 13
    link(rel='stylesheet', href='./css/d-13.css')
  body
    h1 Drill 13

    #input
      input#textString
      button#process Go!
    #output
      #sums Sums
        .littleSquare
      #products Products
        .littleSquare

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-13.js')
