doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Stock Quotes
    link(rel='stylesheet', href='./css/d-15.css')
  body
    h1 Stock Quotes

    input#symbol(type='text')
    button#get Get Quote

    #output

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-15.js')
