doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Multi-Quote
    link(rel='stylesheet', href='./css/d-16.css')
  body
    h1 Multi-Quote

    input#symbol(type='text')
    button#get Add Quote

    #output

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-16.js')
