doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Portfolio
    link(rel='stylesheet', href='./css/d-17.css')
  body
    h1 Portfolio

    input#shares(type='text' placeholder='# of Shares')
    input#symbol(type='text' placeholder='Stock Symbol')
    button#get Get Position

    #output

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-17.js')
