doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Sum Quote
    link(rel='stylesheet', href='./css/d-19.css')
  body
    h1 Sum Quote

    input#symbol(type='text' placeholder='Example: AMZN,APPL,GOOG,MSFT')
    button#get Sum

    #output
      #header Sum
      #sum

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-19.js')
