doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Weather Demo
    link(rel='stylesheet', href='./css/d-22.css')
  body
    h1 Weather Demo

    #controls
      input#zip(type='number' placeholder='Enter ZIP code.')
      button#get Get Weather

    #weather

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-22.js')
