doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title 3D Donut Chart
    link(rel='stylesheet', href='./css/d-25.css')
  body
    h1 3D Donut Chart

    input#symbol(type='text' placeholder='Enter a stock symbol.')
    input#numShares(type='number' placeholder='# of shares')
    button#add Add

    #chartdiv

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='http://www.amcharts.com/lib/3/amcharts.js')
    script(src='http://www.amcharts.com/lib/3/pie.js')
    script(src='http://www.amcharts.com/lib/3/themes/light.js')
    script(src='./js/source/d-25.js')
