doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title 10-Day Forecast
    link(rel='stylesheet', href='./css/d-26.css')
  body
    h1 10-Day Forecast

    input#zip(type='number' placeholder='Enter a ZIP code.')
    button#add Add

    #output

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-26.js')
